.has-sidebar-right-side {padding-right: 45px;}
.sidebar {
	background:#1C1C1C;
	padding: 40px 45px;
	.single-sidebar {
		+ .single-sidebar {border-top: 1px solid #383838;padding-top: 40px;margin-top: 40px;}
		h3, h4, ul, li {margin: 0;padding: 0;list-style: none;}
		.title {margin-bottom: 30px;
			h3 {margin: 0;color: #FEFEFE;font-size: 20px;font-weight: 600;}
		}
		&.search-widget {
			+ .single-sidebar {padding-top: 0;border-top: 0;}
			form {position: relative;width: 100%;
				input {width: 100%;height: 50px;border: none;outline: none;background-color: transparent;border-bottom: 1px solid #3D3D3D;}
				button {color: #fff;font-size: 20px;position: absolute;top:50%;right:0;transform: translateY(-50%);background-color: transparent;border: none;outline: none;}
			}
		}
		&.category-widget {
			ul.category-list {
				li + li {margin-top: 5px;}
				li a {display: block;color: #fff;position: relative;padding-left: 30px;
					i {color: #ED492E;position: absolute;top:50%;left:0;transform: translateY(-50%);}
				}
			}
		}
		&.meta-widget {
			ul.meta-list {
				li + li {margin-top: 5px;}
				li a {display: block;color: #fff;position: relative;padding-left: 30px;
					i {color: #ED492E;position: absolute;top:50%;left:0;transform: translateY(-50%);}
				}
			}
		}
		&.recent-post-widget {
			.single-recent-post {
				+ .single-recent-post {margin-top: 25px;}
				position: relative;
				padding-left: 30px;
				&:before {content:"\f138";font-family: 'FontAwesome';color: #ED492E;font-size: 15px;position: absolute;top:28px;left:0;}
				span {color: #888888;font-weight: 300;font-size: 13px;}
				h4 {color: #FEFEFE;font-size: 15px;font-weight: 600;line-height: 30px;
					span {color: #ED492E;}
				}
			}
		}
		&.tags-widget {
			ul.tags-list {
				margin-left: -.5px;margin-right: -.5px;
				li {display: inline-block;padding: 1px;}
				li a {display: block;background:#353535;text-transform: uppercase;color: #fff;font-size: 12px;transition: all .4s ease;padding: 6px 23px;
					&:hover {background:#ED492E;}
				}
			}
		}
	}
}